/*------------------------------------------
Projekt: Projektname
Start: Startdatum des Projektes
Letzte Aenderung: Zeit und Datum der letzten Änderung

Farbschema

Hintergrund: 
Body: 
Link: 
Visited: 
Hover: 

ANSATZ: MOBILE FIRST

/* ------------------------------------------------------------------
   Mobile Ansicht (unterhalb 576px)
---------------------------------------------------------------------*/
/* -------------------------------------------
  Allgemeine Gestaltung
--------------------------------------------*/


/*--------------------------------------------
  Gestaltung des Headers
--------------------------------------------*/


/*--------------------------------------------
  Gestaltung des Mainbereichs
--------------------------------------------*/


/*--------------------------------------------
  Gestaltung des Footers
--------------------------------------------*/


/* ------------------------------------------------------------------
   Kleine Geräte (Porträt Tablets and große Phones - ab 576px) 
---------------------------------------------------------------------*/

/* -------------------------------------------
  Änderung allgemeine Gestaltung
--------------------------------------------*/


/*--------------------------------------------
  Änderung Gestaltung des Headers
--------------------------------------------*/


/*--------------------------------------------
  Änderung Gestaltung des Mainbereichs
--------------------------------------------*/


/*--------------------------------------------
  Änderung Gestaltung des Footers
--------------------------------------------*/

/* ------------------------------------------------------------------
   Mittlere Geräte (Landscape Tablets - ab 768px) 
---------------------------------------------------------------------*/

/* -------------------------------------------
  Änderung allgemeine Gestaltung
--------------------------------------------*/


/*--------------------------------------------
  Änderung Gestaltung des Headers
--------------------------------------------*/


/*--------------------------------------------
  Änderung Gestaltung des Mainbereichs
--------------------------------------------*/


/*--------------------------------------------
  Änderung Gestaltung des Footers
--------------------------------------------*/


/* ------------------------------------------------------------------
   Große Geräte (Laptops/Desktops - ab 992px)  
---------------------------------------------------------------------*/

/* -------------------------------------------
  Änderung allgemeine Gestaltung
--------------------------------------------*/


/*--------------------------------------------
  Änderung Gestaltung des Headers
--------------------------------------------*/


/*--------------------------------------------
  Änderung Gestaltung des Mainbereichs
--------------------------------------------*/


/*--------------------------------------------
  Änderung Gestaltung des Footers
--------------------------------------------*/

/* ------------------------------------------------------------------
   Eventuell sehr große Geräte (Sehr breite Desktops - ab 1200px)  
---------------------------------------------------------------------*/

/* -------------------------------------------
  Änderung Allgemeine Gestaltung
--------------------------------------------*/


/*--------------------------------------------
  Änderung Gestaltung des Headers
--------------------------------------------*/


/*--------------------------------------------
  Änderung Gestaltung des Mainbereichs
--------------------------------------------*/


/*--------------------------------------------
  Änderung Gestaltung des Footers
--------------------------------------------*/
