
@font-face {
    font-family:"Dusha V5 Regular";
    src:url("Dusha_-_FIFA_World_Cup_2018.woff2") format("woff2"),url("Dusha_-_FIFA_World_Cup_2018.woff") format("woff"),url("Dusha_-_FIFA_World_Cup_2018.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        